body{
  font-family: 'Montserrat', sans-serif;
 
}

.wineBanner{
  height:550px;
  background: rgb(0,0,0);
  background-image: url(../src/images/wine4.jpeg);
  background-size: cover;
  background-position: center;
  color: white;
  background-repeat: no-repeat;
  font-family: 'Montserrat', sans-serif;
}

.bannerTextWrapper {
  padding: 10% 15% 75px;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  background: linear-gradient(270deg, rgba(255,255,255,0) 0%, rgba(9,9,121,0) 45%, rgba(0,0,0,1) 100%);
}

.welcomeMessageDiv{
  padding: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: 40px;
  font-family: 'Montserrat', sans-serif; 
  margin-top: 30px;
}

.headerFont{
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: aliceblue;
}

.headerTitle{
  font-family: 'Satisfy', cursive;
  margin-left: 30px;
  font-size: 20px;
}

.headerSize{
  height: 50px;
  padding: 10px;
  display: flex;
  flex-direction: row;
}

.headerBody{
  margin-left: 20%;
}

.headerNavs{
  margin-left: 30px;
  text-decoration: none;
  color: black;
  font-size: 10px;
}

.headerSearchInput{
  margin-left: 50%;
  padding-left: 5px;
  border: 1px solid lightgray;
  border-radius: 15px;
  font-size: 12px;
}

.welcomeImage{
  width: 190px;
}

.welcomeText{
  margin-left: 50px;
  max-width:30ch 
}

.loremText{
  font-size: 12px;
}

.bannerTitle{
  font-size: 50px;
  font-weight: 300;
}

.bannerText{
  width: 50ch;
  font-size: 15px;
}

.button{
  margin-top: 30px;
  padding: 0 1rem;
  height: 40px;
  /* font-weight: bold; */
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
  border: 1px solid lightgray;
  font-size: 0.8em;
}

.active a{
  background-color: red;
  color: #fff;
}

.buttonLinks{
  text-decoration: "none";
  color: "white" 
}

.dolomitesHeader{
  font-weight: bold;
}

/* @media screen and (max-width:600px) {
  .headerBody{
    margin-left: 20%;
  }
} */


